.anima {
  animation: anima ease 750ms;
}

.anima-slow {
  animation: anima ease 1.5s;
}

.anima-left {
  animation: anima-left ease 750ms;
}

.anima-right {
  animation: anima-right ease 750ms;
}

.anima-top {
  animation: anima-top ease 750ms;
}

.anima-bottom {
  animation: anima-bottom ease 750ms;
}

/*
*
*** @keyframes ***
*
*/

@keyframes anima {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes anima-perfil {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes anima-left {
  from {
    transform: translateX(-7.5vw);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes anima-right {
  from {
    transform: translateX(7.5vw);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes anima-top {
  from {
    transform: translateY(-7.5vh);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes anima-bottom {
  from {
    transform: translateY(7.5vh);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}


/* *** *** *** *** */

// @keyframes anima-next {
//   from {
//     transform: translateX(-.75vw);
//   }

//   to {
//     transform: translateX(0);
//   }
// }

// .anima-next {
//   animation: anima-next 750ms infinite alternate;
// }