/* Animation class */

.anima-fast {
  animation-name: anima;
  animation-duration: 500ms;
}

.anima {
  animation-name: anima;
  animation-duration: 1s;
}

.anima-slow {
  animation-name: anima;
  animation-duration: 2s;
}

@keyframes anima {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
