/* Animation class */

.anima-fast {
  animation-name: anima;
  animation-duration: 300ms;
}

.anima {
  animation-name: anima;
  animation-duration: 600ms;
}

.anima-slow {
  animation-name: anima;
  animation-duration: 1.2s;
}

@keyframes anima {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
