@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: Amsterdam;
  src: url('../fonts/Amsterdam.ttf');
}

@font-face {
  font-family: BDScript;
  src: url('../fonts/BDScript.otf');
}

@font-face {
  font-family: Modernline;
  src: url('../fonts/Modernline.otf');
}

* {
  @apply text-slate-600 box-border m-0 p-0;
}

h1,
h2,
h3,
h4,
p,
span,
ul,
li {
  font-family: 'josefin sans', sans-serif;
}

.bg-dark {
  background-color: #07020f;
}

p {
  @apply text-base font-light;
}

.projetos-container {
  max-width: 1280px;
  margin: 0 auto;
}

.sobremim-container {
  max-width: 768px;
  margin: 0 auto;
}

.title {
  font-family: Modernline, sans-serif;
  font-variant-ligatures: additional-ligatures;
  @apply font-thin pt-4 py-8 text-6xl
    text-slate-600 text-center;
}

.logo {
  font-family: Amsterdam, sans-serif;
  font-size: 10px;
  @apply font-bold;
}

.menu {
  @apply z-30 fixed w-full top-0;
}

.menu-open,
.menu-close {
  @apply z-20 bg-white w-full h-full top-0 fixed flex p-4 text-center duration-300;

  ul {
    max-width: 300px;

    @apply mx-auto text-2xl p-4;

    li {
      @apply p-4 text-center;
    }
  }

  img {
    @apply mx-auto;
  }
}

.menu-close {
  margin-left: -1024px;
}

.hide-logo {
  @apply invisible;
}

.limit-title {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.limit-paragraph {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 1280px) {
  .limit-paragraph {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.desktop-img {
  max-width: 720px;
  @apply mx-auto;
}

.tablet-img {
  max-width: 360px;
  @apply mx-auto;
}

.mobile-img {
  max-width: 180px;
  @apply mx-auto;
}

@media (min-width: 1024px) {
  .menu-close,
  .menu-open {
    @apply hidden;
  }

  .hide-logo {
    @apply visible;
  }
}
